* {
    margin: 0;
    padding: 0;
  box-sizing:border-box;
}
html{
    margin:0;
    padding:0;
}

body 
{
  background: linear-gradient(to bottom right,red,purple) no-repeat fixed center ;
margin:100px;
align-items:center;
justify-content:center;
display:flex;
}


.main{
    display:flex;
    overflow: hidden;
    position: relative;
    
}

.side2{
    
    background-color:rgba(0,120,120,0.1);
    display:inline-flex;
    flex:50%;
    flex-direction: column;
    width:500px;
    height:500px;
    align-content: center;
    text-align: center;
    padding :20px;
    font-size: 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color:mintcream;
    text-shadow: peru 2px 5px;
    

}

.side1{
    
    background-color:rgba(0,120,120,0.1);
    display:inline-flex;
    flex:50%;
    flex-direction:column;
    width:500px;
    height:500px;
    align-content: center;
    text-align: center;
    padding :20px 60px;
    font-size: 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color:mintcream;
    text-shadow: peru 2px 5px;
    
    
}

.c1,.c2 {
    background-color:rgba(0,120,120,0.2);
   
    margin-left: 250px;
    margin-top: 100px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size:40px;
    border-radius: 20px;
    color: black;
    height:60px;
    width: 70px;
   

    
}

.s1,.s2{
    background-color:rgba(0,120,120,0.2);
    padding :40px 60px;
    margin-left: 120px;
    margin-top: 100px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size:40px;
    border-radius: 20px ;
    color: papayawhip;
    height:70px;
    width: 70px;
    text-align: center;
}


.image{
    background: none;
    height:60px;
    width: 60px;
    background-size:cover;   
    border-radius: 10px;
    transform: translate(29.5rem,-32rem);
    position: relative;
}

.btn{
    background: none;
    background-color:rgba(0,120,120,0.2);
    border:none;
    transform: translate(28rem ,-28rem);
    position:-webkit-sticky;
    padding:20px 30px;
    display:block;
    margin-bottom: 20px;
    width:100px;
    color:cornsilk;
    font-weight: bolder;
    font-size: 0.9rem;
    cursor: pointer;
}

.color{
    margin-bottom: 6rem;

}

.winner{
    z-index:10;
    margin-top: -220px;
    margin-left: 320px;
    font-size: 30px;
    text-align:center;
    width:250px;
    font-family:monospace;
    color:chartreuse;
    font-weight: bolder;
    position: inherit;
}

.winner1{
    transform: translate(25rem,-50rem);  
    font-size: 60px;
    text-align:left;
    width:350px;
    font-family:monospace;
    color:hotpink;
    font-weight: bolder;
    text-shadow:aliceblue 2px 5px 2px;
    
}

.winner{
    transform: translate(3rem,-35rem);  
    font-size: 60px;
    text-align:left;
    width:350px;
    font-family:monospace;
    color:hotpink;
    font-weight: bolder;
    text-shadow:aliceblue 2px 5px 2px;
}

.hide{
    display:none;
}